/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ajuste para ocupar toda la altura */
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Permitir el desplazamiento en la sección principal */
}

.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-camera {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
}

video {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resultado {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

#codigos-escaneados {
    margin-top: 20px;
}

#codigos-escaneados h2 {
    font-size: 1.5em;
    color: #4CAF50;
    text-align: center;
}

#lista-codigos {
    list-style-type: none;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
    max-height: 200px; /* Altura máxima para la lista */
    overflow-y: auto; /* Permitir el desplazamiento vertical */
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

#lista-codigos li {
    margin: 10px;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#lista-codigos li:hover {
    background-color: #d0d0d0;
}

footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (max-width: 600px) {
    .select-camera {
        width: 100%;
    }

    video {
        max-width: 100%;
    }

    #resultado {
        max-width: 100%;
    }

    #lista-codigos {
        max-width: 100%;
    }
}
